<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        {{routing_index}}
        <div>{{ wo_render_breadcrumbs() }}</div>
        <ul class="nav in" id="side-menu">
            {#<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>#}

            <li>
                <a href="{{path('welcome_home')}}"><i class="fa fa-dashboard fa-fw"></i> {{'Dashboard' | trans}}</a>
            </li>

            {% for sidebarmenu in sidebarmenus %}
                <li>
                    <a {% if sidebarmenu.clickable %} data-action="{{sidebarmenu.routing}}" {% endif %} href="#"><i class="fa fa-bar-chart-o fa-fw"></i>{{sidebarmenu.getTitle()}}<span class="fa arrow"></span>
                    </a>
                    {% if sidebarmenu.hasChildren() %}
                        <ul class="nav nav-second-level collapse" aria-expanded="{{sidebarmenu.expanded}}">

                            {% for subsidebarmenu in sidebarmenu.getChildren() %}
                                {% if subsidebarmenu.enabled == true %}
                                    <li>
                                        <a {% if sidebarmenu.clickable %} data-action="{{subsidebarmenu.routing}}" {% endif %} href="#">{{subsidebarmenu.getTitle()}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}

                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
<script>
    $(function () {
        $("div.sidebar-nav ul#side-menu.nav li a[data-action]").unbind("dblclick");
        $("div.sidebar-nav ul#side-menu.nav li a[data-action]").dblclick(function () {
            alert($(this).data("action"));
        });

    });
</script>