<div id="mapkey">
    <div><h4>Open Street Map {{'Legend'|trans({},'Map2uCoreBundle')}}</h4></div>
    <table class="mapkey-table">
        <tbody><tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="0" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/motorway.png" alt="Motorway f2260495a1f2d4ff85a71b17b983d993ca900e6eed2e5760e018aa1ab3b10608">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.motorway'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="0" data-zoom-max="6">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/mainroad.png" alt="Mainroad 0e0a0b6ad8c79c4065c612448d46d4342c6bc6e906907d5208653ee81bda1f68">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.main_road'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="7" data-zoom-max="8">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/mainroad7.png" alt="Mainroad7 e89046bd9381879a434ea82f001d2946f8de58db16099f1f5f42d14e45ef99cc">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.main_road'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="9" data-zoom-max="11">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/mainroad9.png" alt="Mainroad9 40bcabe641dbf5d583215c38098eeb4d0d469f1e838004f1095a7853295c2acd">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.main_road'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/mainroad12.png" alt="Mainroad12 d256cbb974c90428d0202df563de3fac7c590b5fc5bf71a7c90beb0bd7627b8b">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.main_road'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/track.png" alt="Track ec711a706adae05041e9339c748b7d33beb2d52a51fe859c186a725b76fdcc32">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.track'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/bridleway.png" alt="Bridleway 77dc1544922eb3f62bda7ee325957e56f528a356c0bd545b0d670ae09ef8e9ce">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.bridleway'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/cycleway.png" alt="Cycleway 37343ed25a3c49e68e97f0d46e553070e9a14a8d9fb6031de712ae50b3408e7e">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.cycleway'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/footway.png" alt="Footway f891b401574853a9751f173aee6202fb12f7e50a7edc920dd17dddbc2cda8f1a">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.footway'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="8" data-zoom-max="12">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/rail.png" alt="Rail c8acf6256f9b2ed0280d11ea5f59545f13813823812b6e575d0427defbf479bf">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.rail'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/rail13.png" alt="Rail13 b0a0becf089855a13c7688c6238d6c2a0bf443e3456d9efb8b8b93bfbcbd34a2">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.rail'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/subway.png" alt="Subway b32d8658cb7a5f248cd03f27cbbbbd3fe71813be2baf033376a63ec5b2491a9c">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.subway'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/tram.png" alt="Tram 1a2f40be2aafaca0dd4be80d08a340a3a07d5c2ac3fb25b2f583ae768edce53e">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.tram'|trans({},'Map2uCoreBundle') }}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/cable.png" alt="Cable e147fe4955e78a3ade5d3ac9988fd12357ba32985f708887e00bebb8b0b98cd7">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.cable'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/runway.png" alt="Runway 798a22da23c8c0a7e5553b3f14c630c796392dbc775a529453d3a8ed289fa3a7">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.runway'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/apron.png" alt="Apron a3613432060851633ddd96f981cf66ce6ec9ae79d1788733e46bc2d37c21e6e8">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.apron'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="0" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/admin.png" alt="Admin fcd748b324e5678c672d41b4af3baa9de115a6f8ee57855f5634091e59178a29">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.admin'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="9" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/forest.png" alt="Forest c33c4d8a216a942b9a4aeff91eda5f089d4fa842c19edb9a45e490367ac40c07">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.forest'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/wood.png" alt="Wood e2fe5460f3138420b48ea5e1d933bf7ce5914ee23bd267d2e6d6313efa14364f">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.wood'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/golf.png" alt="Golf 6e692ae161714ee040fbb6d5732a53f5d21b91f061754dde003ff80b53f5080b">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.golf'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/park.png" alt="Park 4841ace6fa6932a96d42343743ea3407e0087f1dfb553134f4f9c16c4229636b">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.park'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="8" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/resident.png" alt="Resident 5a385778712dd3566d9e8931bbe1d1fc05301e3dd79589ebd1dddb7ea5e029f5">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.resident'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/common.png" alt="Common 28cb400153a5e91bf842ae9bc40ad81c16afb75442507e8e40ab0a633a437372">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.common'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/retail.png" alt="Retail dc9a53c2a94643d7c5cbccee8537fe933022429aa65b1df0028cb6fcfbce160a">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.retail'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/industrial.png" alt="Industrial 17a66e94474e40487a1efc0c13b255100ca463c57af11b3f9fc939500686bef3">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.industrial'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/commercial.png" alt="Commercial 597a3d6d709f49b1fa6e82597b1554b66f39b93290e4f8f434c81e23f7235c06">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.commercial'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/heathland.png" alt="Heathland 5d73d2d064f0916c8a34f4e25154ad74b945955f7e38b671a9d2417ddee1d1c5">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.heathland'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="7" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/lake.png" alt="Lake 5efdf5786d855ade38f1e81ac93ec9096f1a0490cdca96f1f3d82dc7c7d155bb">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.lake'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/farm.png" alt="Farm 22ea3116ba39019eb7d263fddc9f23f623e2f906502831dc364a585acd11039e">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.farm'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="10" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/brownfield.png" alt="Brownfield 63ba90b7e6c281346d0b703e840897b8fb89dbb217daac519588d8510c9f7cb9">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.brownfield'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/cemetery.png" alt="Cemetery 05adef81a115910838a0aa9395c3a1c01450910ae7e65a1f4553f062e872ffa7">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.cemetery'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/allotments.png" alt="Allotments e668a89cefbb9e37f8657037500ba56e649218499ac4448638398d37f0b63cb9">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.allotments'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/pitch.png" alt="Pitch ce98535fac868c0413eac761012584cbb2b3f0817767e99693340fe8655dc049">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.pitch'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/centre.png" alt="Centre e4d415d7df81df030d2b96564a452ab3d0e382d07c1d2017ba4d4e8f5e5f2816">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.centre'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/reserve.png" alt="Reserve 6dfee00b6c91215be6a74e78d5f9356643123205601e5c3166fcbac546746c07">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.reserve'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="11" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/military.png" alt="Military e1f0548bdf3c998a8edac8fc578ea5a34a28f1d4c83d54122ea36842ff5c7ed1">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.military'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/school.png" alt="School 16cb3d3817b086505eb53bc6985dbccb348b89134e757064b6ab9a5748c91709">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.school'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/building.png" alt="Building 85a4a5a48b8308d5783dc6030efb620b0bd5bb1f1b1c6feb735bf7f98ffdff75">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.building'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/station.png" alt="Station 07bfe38c97ae095efc62e4d59764ca907d85b8b7ee9532e820f2100455998161">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.station'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/summit.png" alt="Summit 61d46ce5baf7af2448590f7e20d05ee47c8f1cd0758db86d21f48936bd9332ef">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.summit'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/tunnel.png" alt="Tunnel 2bf522d75985e79488909f7c651213eaa060eed19b434939041537f1be8c4092">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.tunnel'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="13" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/bridge.png" alt="Bridge a1c5f8de10583cf8f3851fd4ac47fba883aa40714339f30dd6681d8a5ea00ae3">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.bridge'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="15" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/private.png" alt="Private a5b32493ea92e66c462a2587c2fc8f22657ab8192227c19be078ab2448273b93">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.private'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="15" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/destination.png" alt="Destination 2142f6941ad68008601c47e1a60d98fb54c3282b48b48e7ae92685b568b606e5">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.destination'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
            <tr class="mapkey-table-entry" data-layer="mapnik" data-zoom-min="12" data-zoom-max="19">
                <td class="mapkey-table-key">
                    <img src="/images/key/mapnik/construction.png" alt="Construction ca801f80f8de7cb3af7f039be3b4667eb7eef04a705f76a1438df3753c744645">
                </td>
                <td class="mapkey-table-value">
                    {{ 'key.table.entry.construction'|trans({},'Map2uCoreBundle')}}
                </td>
            </tr>
        </tbody></table>
</div>